html, body {
    height: 50%;
    font-family: "Lucida Console", "Courier New", monospace;
}

body {
    margin: 0;
}

.page {
    background-color: gray;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0;
}

.page div {
    flex: 1;
}

.Title {
    text-align: center;
}

.sub_info {
    text-align: center;
}

.text {
    text-align: center;
}

.buttons {
    padding: 15px;
    gap: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    
}

.button {
    border: 4px;
    font-size: large;
    padding: 10px 24px;
    width: 150px;
    height: 60px;
}